<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Sorteo
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="container">
    <ion-grid>
      <ion-row *ngFor="let row of rows">
        <ion-col *ngFor="let num of row" style="border: solid 1px;">
          <div (click)="registerNumber(num)" class="cell" [ngClass]="{available: !num.register, unAvailable:
            num.register}">{{num.value}}</div>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 20px;">
        <ion-col>
          <button class="button-sortear" (click)="gotoSorteo()" [disabled]="numbersRegistered.length<2"
            [ngClass]="{'btn-disabled': numbersRegistered.length<2}">
            Realizar Sorteo
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>