.button-save{
    background-color: #20dac3;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
}

.button-edit{
    background-color: #173f9e;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
}
.button-delete{
    background-color: #b72100;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
}

.numberValue{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.1;
}